/*FOND*/
html,body{
background-color: #f4df9f;
background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");

/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
/*MENU*/
#menu{
    background-color:#35291C;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 6em;
    position: static;
}

#menu a{
    color:#F4DF9F;
    text-decoration: none;
    font-family: "Open Sans Condensed";
    font-size:16px;
}

#menu a:hover{
    text-decoration: underline;
}

#conteneur{
    width: 950px;
    height:500px;
    margin-left: auto;
    margin-right: auto;
    border : 1px solid black;
}

#barre{
    color:#F4DF9F;
}

#accueil {
    margin-left: 23.8%;
}

#connect {
    margin-left: 39.2%;
}

/*EDITION DU PROFIL */
tr {
    font-family: 'Arial';
}
label {
    display: inline-block;
    width: 200px;
    margin-right: 15px;
    vertical-align: top;
    text-align: right;
    color: #35291C;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
}
input,h2,{
    color: #35291C;
    width: 200px;
    border: none;
    font-family: 'Open Sans Condensed';
    text-align: center;
}

h2{
    background-color: #FFF;
    opacity: 0.5;
    width: 500px;
    height: 40px;
}

.contenu{
    background-color: #fff;
    opacity: 0.5;
}

#valider{
    height: 30px;
    font-size: 15px;
    background-color: #35291C;
    color:#f4df9f;
}

#valider:hover{
    font-weight: bolder;
    cursor: pointer;
}




