html,body{
	background-image: url("CHAMP.jpeg");
	background-repeat: no-repeat;
	margin:0;
    padding:0;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    overflow: hidden;
 
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
/*MENU*/
#menu{
    background-color:#35291C;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 1600px;
    height: 6em;
    position: static;
}

#menu a{
    color:#F4DF9F;
    text-decoration: none;
    font-family: "Copperplate 32BC";
    font-size:16px;
}

#menu a:hover{
    text-decoration: underline;
}

#conteneur{
    width: 950px;
    height:500px;
    margin-left: auto;
    margin-right: auto;
    border : 1px solid black;
}

#barre{
    color:#F4DF9F;
}

#accueil {
    margin-left: 23.8%;
}

#connect {
    margin-left: 39.2%;
}


/*CONTENEUR CONNEXION CLIENT*/

